[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd
After=network.target

[Service]
Type=notify
User={{ etcd_settings.user }}
Group={{ etcd_settings.group }}

ExecStart={{ etcd_settings.bin_path }}/etcd \
  --name {{ server_hostname | default(ansible_hostname) }} \
  --initial-advertise-peer-urls https://{{ server_ip | default(ansible_host) }}:2380 \
  --listen-peer-urls https://{{ server_ip | default(ansible_host) }}:2380 \
  --listen-client-urls https://{{ server_ip | default(ansible_host) }}:2379 \
  --advertise-client-urls https://{{ server_ip | default(ansible_host) }}:2379 \
  --initial-cluster-token {{ etcd_cluster_name }} \
  --initial-cluster {{ etcd_cluster_nodes | join(",") }} \
  --initial-cluster-state new \
  --data-dir={{ etcd_settings.data_path }} \
  --client-cert-auth \
  --trusted-ca-file {{ etcd_settings.config_path }}/{{ etcd_certificates.kube_api.ca }} \
  --cert-file {{ etcd_settings.config_path }}/{{ etcd_certificates.kube_api.crt }} \
  --key-file {{ etcd_settings.config_path }}/{{ etcd_certificates.kube_api.key }} \
  --peer-client-cert-auth \
  --peer-trusted-ca-file {{ etcd_settings.config_path }}/{{ etcd_certificates.kube_api.ca }} \
  --peer-cert-file {{ etcd_settings.config_path }}/{{ etcd_certificates.kube_api.crt }} \
  --peer-key-file {{ etcd_settings.config_path }}/{{ etcd_certificates.kube_api.key }} \
  --auto-compaction-retention 1

Restart=on-failure
RestartSec=5
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target