apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', kubernetes_certificates.ca.crt ) | b64encode }}
    server: https://{{ '127.0.0.1' if item.value.name == 'admin' else (kubernetes_cluster.endpoint ~ '.' ~ kubernetes_cluster.domain) }}:{{ kubernetes_cluster.port }}
  name: {{ kubernetes_cluster.name }}
contexts:
- context:
    cluster: {{ kubernetes_cluster.name }}
    user: {{ item.value.kubeconfig.user }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ item.value.kubeconfig.user }}
  user:
    client-certificate-data: {{ lookup('file', item.value.kubeconfig.crt_local_path) | b64encode }}
    client-key-data: {{ lookup('file', item.value.kubeconfig.key_local_path) | b64encode }}
