kind: KubeProxyConfiguration
apiVersion: kubeproxy.config.k8s.io/v1alpha1
clientConnection:
  kubeconfig: "{{ kubernetes_folders.kube_proxy }}/kubeconfig"
mode: "iptables"
clusterCIDR: "{{ kubernetes_cluster.pod_cidr }}"